<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/c5d4988284.js" crossorigin="anonymous"></script>
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>glossary</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but glossary doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
