<template>
  <b-container>
    <b-row>
      <b-col class="about" cols="12">{{ $t('aboutMessage')}}</b-col>
    </b-row>
  </b-container>
</template>

<style scoped>
.about {
  text-align: center;
}
</style>
