<template>
  <div>
    <div id="router-nav">
      <router-link to="/">{{ $t('home') }}</router-link>&nbsp;|
      <router-link to="/about">{{ $t('about') }}</router-link>&nbsp;|
      <localeChanger />
    </div>
    <router-view />
  </div>
</template>

<script>
import localeChanger from "@/components/LocaleChanger";

export default {
  components: {
    localeChanger
  }
};
</script>

<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#router-nav {
  text-align: center;
  color: #2c3e50;
  margin-top: 40px;
  margin-bottom: 20px;
}
</style>
