<template>
  <b-container>
    <EditEntry
      v-bind:entry="entry"
      v-on:update-entry="updateEntry"
      v-on:delete-entry="deleteEntry"
    />
  </b-container>
</template>

<script>
import EditEntry from "@/components/EditEntry";
import axios from "axios";

export default {
  name: "Edit",
  components: {
    EditEntry
  },

  data() {
    return { 
      entry: {},
      editEntryId: this.$route.params.id
      };
  },

  beforeMount() {
    axios
      .get(this.getRequest("item", "id=eq." + this.editEntryId), {headers: this.getHeaders()})
      .then(res => {
        this.entry = res.data[0];
      })
      .catch(err => this.makeToast(err.message, err.response));
  },

  methods: {
    updateEntry(entry) {

      if (!entry.deleted) {
        entry.deleted = null;
      }

      console.log(JSON.stringify(entry))

      axios
        .patch(this.getRequest("item", "id=eq." + entry.id), entry, {headers: this.getHeaders()} )
        .catch(err => {
          console.log(JSON.stringify(err.response));
          this.makeToast(err.message, err.response);
        });
    },

    deleteEntry(entryId) {
      axios
        .delete(this.getRequest("item", `id=eq.${entryId}`))
        .then(this.makeToast(`Entry Id ${entryId} successfully removed.`))
        .catch(err => this.makeToast(err.message, err.response));
    }
  }
};
</script>