<template>
  <b-container>
    <AddEntry v-on:add-entry="addEntry" v-on:search-entry="searchEntry"/>
    <b-row>
      <p></p>
    </b-row>
    <EntryList v-bind:entryList="entries" v-on:del-entry="deleteEntry"/>
  </b-container>
</template>

<script>
import AddEntry from "@/components/AddEntry";
import EntryList from "@/components/EntryList";
import axios from "axios";

let entryPool = [];

export default {
  name: "Home",

  components: {
    AddEntry,
    EntryList
  },

  data() {
    return {
      entries: []
    };
  },

  created() {
    axios
        .get(this.getRequest("item", "order=abbreviation"), {headers: this.getHeaders()})
        .then(res => {
            entryPool = res.data;
            console.log("Read ", entryPool.length, " entries from server.")
            this.entries = entryPool.filter(e => e.fk_category === 1);
        })
        .catch(err => console.log(err));
  },

  methods: {
    searchEntry(abbreviation, shortname, fkCategory) {

      if (fkCategory !== 0) {
        this.entries = entryPool.filter(e => e.fk_category === fkCategory);
      } else {
        this.entries = entryPool;
      }

      if (abbreviation !== "") {
        this.entries = this.entries.filter(e =>
            e.abbreviation.toLowerCase().includes(abbreviation.toLowerCase())
        );
      }

      if (shortname !== "") {
        this.entries = this.entries.filter(
            e =>
                e.shortname &&
                e.shortname.toLowerCase().includes(shortname.toLowerCase())
        );
      }
    },

    deleteEntry(entryId) {
      const data = {
        deleted: "now()"
      };

      axios
          .patch(this.getRequest("item", `id=eq.${entryId}`), data, {
            headers: this.getHeaders()
          })
          .then(res => {
            let o = entryPool.find(x => x.id === entryId);
            if (o) {
              o.deleted = res.data[0].deleted;
            }
          })
          .catch(err => this.makeToast(err.message, err.response));
    },

    addEntry(newEntry) {
      if (newEntry && newEntry.abbreviation) {
        axios
            .post(this.getRequest("item"), newEntry, {headers: this.getHeaders()})
            .then(res => {
              this.entries = [...this.entries, res.data[0]];
              this.$router.push({name: "edit", params: {id: res.data[0].id}});
            })
            .catch(err => {
              let e = err.response
              if (e.data)
                this.makeToast(e.data.message, e.data.code)
              else
                this.makeToast(err.message, err.code)
            });
      } else {
        this.makeToast("missingAbbreviation");
      }
    }
  }
};
</script>
