<template>
  <div>
    <form @submit="addEntry">
      <b-row>
        <b-col cols="2">
          <b-form-select
            v-model="fkCategory"
            :placeholder="$t('label.fkCategory')"
            :options="fkCategoryOptions"
            value-field="id"
            text-field="shortname"
            v-on:input="$emit('search-entry', abbreviation, shortname, fkCategory)"
          >
            <!-- This slot appears above the options from 'options' prop -->
            <template #first>
              <b-form-select-option :value="0">All</b-form-select-option>
            </template>
          </b-form-select>
        </b-col>
        <b-col cols="2">
          <b-input
            class="abbreviation mb-2 mr-sm-2 mb-sm-0"
            v-model="abbreviation"
            :placeholder="$t('label.abbreviation')"
            v-on:input="$emit('search-entry', abbreviation, shortname, fkCategory)"
          />
        </b-col>
        <b-col cols="7">
          <b-input
            class="mb-2 mr-sm-2 mb-sm-0"
            v-model="shortname"
            :placeholder="$t('label.meaning')"
            v-on:input="$emit('search-entry', abbreviation, shortname, fkCategory)"
          />
        </b-col>
        <b-col cols="1">
          <b-button type="submit" variant="primary">{{ $t('button.add') }}</b-button>
        </b-col>
      </b-row>
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AddEntry",
  data() {
    return {
      abbreviation: "",
      shortname: "",
      fkCategory: 0,
      fkCategoryOptions: []
    };
  },
  created() {
    axios
        .get(this.getRequest("category", "order=id"), {headers: this.getHeaders()})
        .then(res => {
            this.fkCategoryOptions = res.data;
            console.log("Read categories", this.fkCategoryOptions)
        })
        .catch(err => console.log(err));
  },
  methods: {
    addEntry(e) {
      e.preventDefault();
      const newEntry = {
        abbreviation: this.abbreviation,
        shortname: this.shortname,
        fk_category: this.fkCategory
      };

      console.log("ADD ", newEntry);

      this.$emit("add-entry", newEntry);
      
      this.abbreviation = "";
      this.shortname = "";
      this.fkCategory = 0;  // All
    }
  }
};
</script>