<template>
  <div>
    <b-form>
      <b-form-group label-cols="2" label-for="view-id" :label="$t('label.id')">
        <b-form-input readonly id="view-id" type="text" v-model="entry.id" />
      </b-form-group>

      <b-form-group label-cols="2" :label="$t('label.abbreviation')" label-for="input-abbr">
        <b-input id="input-abbr" type="text" v-model="entry.abbreviation" :state="abbrState" />
      </b-form-group>

      <b-form-group label-cols="2" :label="$t('label.meaning')" label-for="input-short">
        <b-input id="input-short" type="text" v-model="entry.shortname" :state="nameState" />
      </b-form-group>

      <b-form-group label-cols="2" :label="$t('label.fkCategory')" label-for="selectbox-type">
        <b-select id="selectbox-type" v-model="entry.fk_category" :options="fkCategoryOptions" />
      </b-form-group>

      <b-form-group label-cols="2" :label="$t('label.url')" label-for="input-url">
        <b-input id="input-url" type="text" v-model="entry.url" :state="urlState" />
      </b-form-group>

      <b-form-group label-cols="2" :label="$t('label.description')" label-for="editor-descr">
        <ckeditor :editor="editor" v-model="entry.description"></ckeditor>
      </b-form-group>

      <b-form-group
        label-cols="2"
        :label="$t('label.deleted')"
        label-for="input-delete"
        :description="$t('descr.deleted')"
      >
        <b-form-input id="input-delete" type="date" v-model="entry.deleted" />
      </b-form-group>

      <b-form-group label-cols="2">
        <b-button @click="updateEntry" variant="primary">{{ $t('button.update') }}</b-button>
        <b-button class="ml-2" @click="toggleDelete" variant="warning">{{ $t('button.remove') }}</b-button>
        <b-button
          class="ml-2"
          v-show="openDelete"
          @click="deleteEntry"
          variant="danger"
        >{{ $t('button.reallyRemove') }}</b-button>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import validUrl from "valid-url";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  name: "EditEntry",
  props: ["entry"],

  data() {
    return {
      validForm: false,
      openDelete: false,
      editor: ClassicEditor,
      fkCategoryOptions: [
        {value: 1, text: "Item" },
        {value: 2, text: "Label" },
      ]
    };
  },

  computed: {
    abbrState() {
      if (this.entry.abbreviation) {
        return this.entry.abbreviation.length > 0 ? true : false;
      }
      return false;
    },

    nameState() {
      if (this.entry.shortname) {
        return this.entry.shortname.length > 0 ? true : false;
      }
      return false;
    },

    urlState() {
      if (this.entry.url) {
        return validUrl.isWebUri(this.entry.url) ? true : false;
      }
      return true;
    }
  },

  methods: {
    toggleDelete() {
      this.openDelete = !this.openDelete;
    },

    updateEntry(e) {
      e.preventDefault();
      console.log("abbrState() = ", this.abbrState)
      console.log("nameState() = ", this.nameState)

      if (this.abbrState === false) {  
        this.makeToast('emptyAbbreviation');
      } else if (this.nameState === false) {
        this.makeToast('emptyShortname');
      } else {
        this.$emit("update-entry", this.entry);
        this.$router.push({ name: "home" });
      }
    },

    deleteEntry(e) {
      e.preventDefault();

      this.$emit("delete-entry", this.entry.id);
      this.$router.push({ name: "home" });
    }
  }
};
</script>

