<template>
  <b-row class="entryRow align-items-center">
    <b-col cols="4" style="text-align: right;">
      {{entry.abbreviation}}
      <a v-if="entry.url" target="_blank" :href="entry.url">
        <i class="fas fa-external-link-alt simpleLinkIcon" />
      </a>
    </b-col>
    <b-col cols="7">{{entry.shortname}}</b-col>
    <b-col cols="1" class="linkColumn">
      <router-link class="editLink" :to="{name: 'edit', params: {id : entry.id}}">
        <i class="far fa-edit"></i>
      </router-link>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "entryRow",
  props: ["entry"]
};
</script>

<style scoped>

.entryRow:hover {
  background-color: gainsboro;
}

.entryRow > .linkColumn {
  visibility: hidden;
}

.entryRow:hover > .linkColumn {
  visibility: visible;
}

.linkColumn {
  text-align: center;
}

.editLink {
  text-decoration: none;
  color: cadetblue;
}

.simpleLinkIcon {
  text-decoration: none;
  color: cadetblue;
}

.simpleLinkIcon:hover {
  cursor: pointer;
}
</style>