<template>
  <div>
    <div v-bind:key="entry.id" v-for="entry in entryList">
      <entryRow v-bind:entry="entry" v-on:del-entry="$emit('del-entry', entry.id)" />
    </div>
  </div>
</template>

<script>
import entryRow from "@/components/EntryRow";

export default {
  name: "EntryList",
  components: {
    entryRow
  },
  props: ["entryList"]
};
</script>

