<template>
  <div class="locale-changer">
    <select v-model="$i18n.locale">
      <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{ lang }}</option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'localeChanger',
  data () {
    return { langs: ['en', 'de'] }
  }
}
</script>

<style scoped>

.locale-changer {
    display: inline;
}

.locale-changer select {
    border: 0;
}

</style>
